<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div id="box" class="row box bgColorLightGrey">
            <div class="col-xs-12 fontSizePoint9">
                <div class="row">
                    <h3 class="h3Style">Optional Finance Details</h3>
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width73">-Down Payment*</label>
                    <input class="width25" type="text" name="" value="$0" />
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width45">-Trade-In Value*</label>
                    <label class="width25 textAlignRight">Calculate</label>
                    <input class="width25" type="text" name="" value="$0"/>
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width35">-Other Credits*</label>
                    <label class="width35 textAlignRight">Special Programs</label>
                    <input class="width25" type="text" name="" value="$0" />
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width73">Total Down</label>
                    <label class="width25">$0</label>
                </div>
                <div class="row middle-xs">
                    <input class="width5" type="checkbox" name="taxes">
                    <span>Include Taxes ( 9.5% GST, 5% PST )</span>
                </div>
                <div class="row around-xs middle-xs">
                    <hr class="width100" />
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width100">@ $5,000 in total credits applied.</label>
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width50">Cash Purchase Price</label>
                    <label class="width50 textAlignRight">$XX,XXX @</label>
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width100">Includes Destination Freight Charge, A/C Tax</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div id="box1" class="row box bgColorLightGrey">
            <div class="col-xs-12 fontSizePoint9">
                <div class="row">
                    <h3 class="h3Style">Finance</h3>
                </div>
                <div class="row around-xs middle-xs">
                    <h2 class="width100 h3Style">$609 monthly</h2>
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width100">@ $6,000 in total credits applied.</label>
                </div>
                <div class="row start-xs middle-xs">
                    <label class="width45">Schedule</label>
                    <select>
                        <option value="monthly">monthly</option>
                    </select>
                </div>
                <div class="row start-xs middle-xs">
                    <label class="width45">Term</label>
                    <select>
                        <option value="36 months">36 months</option>
                    </select>
                </div>
                <div class="row start-xs middle-xs">
                    <label class="width45">Rate</label>
                    <input class="width25" type="text" value="4.5" />
                    <span> $ (5.5% APR)</span>
                </div>
                <div class="row col-xs-offset-5">
                    <input class="width15" type="checkbox" name="rate">
                    <span>use my rate</span>
                </div>
                <div id='link1' class="row height25 bgColorBlue">
                    <div class="col-xs-12">
                        <div class="row">
                            <a href="#"> Build Your Own > </a>
                        </div>
                    </div>
                </div>
                <div id='link2' class="row height25 bgColorWhite">
                    <div class="col-xs-12">
                        <div class="row">
                            <a href="#"> Apply For Credit > </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div id='box2' class="row box bgColorLightGrey">
            <div class="col-xs-12 fontSizePoint9">
                <div class="row">
                    <h3 class="h3Style">Lease</h3>
                </div>
                <div class="row around-xs middle-xs">
                    <h2 class="width100 h3Style">$609 monthly</h2>
                </div>
                <div class="row around-xs middle-xs">
                    <label class="width100">@ $5,000 in total credits applied.</label>
                </div>
                <div class="row start-xs middle-xs">
                    <label class="width45">Schedule</label>
                    <select>
                        <option value="monthly">monthly</option>
                    </select>
                </div>
                <div class="row start-xs middle-xs">
                    <label class="width45">Kilometers</label>
                    <select>
                        <option value="12,000/yr.">12,000/yr.</option>
                    </select>
                </div>
                <div class="row start-xs middle-xs">
                    <label class="width45">Term</label>
                    <select>
                        <option value="36 months">48 months</option>
                    </select>
                </div>
                <div class="row start-xs middle-xs">
                    <label class="width45">Rate</label>
                    <span class="dotted"> 5.5% (5.5% APR)</span>
                </div>
                <div id='linka' class="row height25 bgColorBlue">
                    <div class="col-xs-12">
                        <div class="row">
                            <a href="#"> Build Your Own > </a>
                        </div>
                    </div>
                </div>
                <div id='linkb' class="row height25 bgColorWhite">
                    <div class="col-xs-12">
                        <div class="row">
                            <a href="#"> Apply For Credit > </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
