<div class="row col-sm middle-md middle-lg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row around-xs middle-xs">
            <label>Postal Code*</label>
            <input class="zipInput" type="text" name="zipCode" ng-value="$ctrl.aks.location.zipCode"/>
        </div>
        <div class="row around-xs middle-xs">
            <label>Year*</label>
            <select ng-model="year" ng-options="x for (x, y) in $ctrl.aks.years[0]">
                <option value="">-- select year --</option>
            </select>
        </div>
        <div class="row around-xs middle-xs">
            <label>Model*</label>
            <select ng-model="model" ng-options="x for (x, y) in $ctrl.aks.model">
                <option value=""> -- select model -- </option>
            </select>

        </div>
        <div class="row around-xs middle-xs">
            <label>Configuration*</label>
            <select ng-model="config" ng-options="y.display for (x, y) in $ctrl.aks.config">
                <option value=""> -- select config -- </option>
            </select>
        </div>
        <div class="row around-xs middle-xs">
            <label>Trim*</label>
            <select ng-model="trim" ng-options="y.display for (x, y) in $ctrl.aks.trim">
                <option value=""> -- select trim -- </option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row center-xs">
            <span>{{year.display}} Buick {{model.display}} Convenience Group</span>
        </div>
        <div class="row center-xs">
            <div class="imageXS">
                <img ng-src="{{model.extraInfo.seriesList[0].color.imageURL}}" alt="buick" />
            </div>
            <div class="msrp">
                <span>Starting Price</span>
                <span class="price">{{model.extraInfo.formattedPrice}}</span>
                <span>Includes Destination</span>
                <span>Freight Charge, A/C Tax</span>
            </div>
        </div>
        <div class="row around-xs center-xs">
            <a class="imagebuttons" href="#">View Inventory > </a>
            <a class="imagebuttons" href="#">Find a Dealer > </a>
        </div>
    </div>
</div>
