<section>
    <header>
        <div class="row">
            <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10"> (Headline) Estimate Payments </div>

            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                <div id='blue' onclick='blue()' class="boxColor bgColorBlue"></div>
                <div id='green' onclick='green()' class="boxColor bgColorGreen"></div>
                <div id='grey' onclick='grey()' class="boxColor bgColorLightGrey"></div>
                <div id='red' onclick='red()' class="boxColor bgColorRed"></div>
                (icon) Print
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Calculate your finance or lease payments. (Payment results are estimates and used for illustrative purposes only.) *required fields.
            </div>
        </div>
    </header>
    <middle-comp aks="$ctrl.aks"></middle-comp>
    <third-comp></third-comp>
</section>
