
a {
  text-decoration: none;
  color: black;
}

.bgColorBlue {
  background-color: blue;
};

.bgColorRed {
  background-color: red;
};
.bgColorWhite {
  background-color: white;
};

.bgColorGreen {
  background-color: green;
};

.bgColorLightGrey {
  background-color: lightgrey;
};
.boxColor {
  width:15px;
  height:15px;
  margin: 0 10px;
  display: inline-block;
}
.height25 {
  height: 25px;
}
.box {
  height: 263.7px;
}


label, input, select {
  width: 50%;
  display: inline-block;
}
.zipInput {
  box-sizing: border-box;
  width: 50%;
}
span {
  display: block;
}
.imageXS {
  width: 50%;
}
.imageXS img {
  width: 80%;
}
.msrp {
  text-align: left;
  width: 50%;
  display: block;
  font-size: .8em;
}
.price {
  font-size: 1.5em;
}
.imagebuttons {
  display: inline-block;
  width: 45%;
  font-weight: bold;
  border: 1px solid black;
}
.width73 {
  width: 71%;
}
.inputDollars {
  width: 25%;
}
.dotted {
  box-sizing: border-box;
  border: 1px dashed black;
  padding: 2.5px;
  width: 50%;
}
.h3Style {
  margin-top: 0.1em;
  margin-bottom: 0em;
}
.fontSizePoint9 {
  font-size: .8em;
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.width5 {
  width: 5%;
}
.width5 {
  width: 5%;
}
.width15 {
  width: 15%;
}
.width25 {
  width: 25%;
}
.width35 {
  width: 35%;
}
.width45 {
  width: 45%;
}
.width50 {
  width: 50%;
}
.width100 {
  width: 100%;
}
