<section>
    <header>
        <div class="row">
            <div class="col-xs-8 col-sm-10 col-md-10 col-lg-11"> (Headline) Estimate Payments </div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">(icon) Print</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Calculate your finance or lease payments. (Payment results are estimates and used for illustrative purposes only.) *required fields.
            </div>
        </div>
    </header>
    <middle-comp></middle-comp>
    <second-comp></second-comp>
</section>